.LedAndText {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    word-wrap: break-word;
    overflow: hidden;
}

.Led {
    display: flex;
    visibility: hidden;
    border-radius: 50%;
}

.Text {
    text-align: center;
    display: flex;
    overflow: hidden;
    padding-left: 4px;
}